@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.stalinist-one-regular {
	font-family: 'Stalinist One', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.monomaniac-one-regular {
	font-family: 'Monomaniac One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.glitch-text {
	position: relative;
	display: inline-block;
	color: white; /* Base stays white */
}

.glitch-text::before,
.glitch-text::after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.glitch-text::before {
	color: rgba(255, 0, 157, 0.85);
	clip-path: inset(0 0 50% 0);
	animation: glitch-before 1.5s infinite;
}

.glitch-text::after {
	color: rgba(0, 150, 255, 0.9);
	clip-path: inset(50% 0 0 0);
	animation: glitch-after 1.5s infinite;
}

@keyframes glitch-before {
	0%,
	90%,
	100% {
		transform: none;
		opacity: 0;
	}
	92% {
		transform: translate(-3px, -2px) skewX(-5deg);
		opacity: 1;
	}
	94% {
		transform: translate(3px, 2px) skewX(3deg);
		opacity: 1;
	}
	96% {
		transform: translate(-2px, -1px) skewX(-2deg);
		opacity: 1;
	}
}

@keyframes glitch-after {
	0%,
	90%,
	100% {
		transform: none;
		opacity: 0;
	}
	92% {
		transform: translate(3px, 2px) skewX(5deg);
		opacity: 1;
	}
	94% {
		transform: translate(-3px, -2px) skewX(-3deg);
		opacity: 1;
	}
	96% {
		transform: translate(2px, 1px) skewX(2deg);
		opacity: 1;
	}
}


  
  @keyframes fadeScaleIn {
	0% {
	  opacity: 0;
	  transform: scale(0.9);
	}
	100% {
	  opacity: 1;
	  transform: scale(1);
	}
  }